<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QueueManager.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="QueueManager.My.MySettings.TBredDataConnectionString"
            connectionString="Data Source=OFFICE-SERVER3\SQLSERVERT;Initial Catalog=TBredData;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QueueManager.My.MySettings.AccidentDataConnectionString"
            connectionString="Data Source=OFFICE-SERVER3\SQLSERVERH;Initial Catalog=AccidentData;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QueueManager.My.MySettings.MachWipHistConnectionString"
            connectionString="Data Source=OFFICE-SERVER3\SQLSERVERT;Initial Catalog=MachWipHist;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <QueueManager.My.MySettings>
            <setting name="fpmpassword" serializeAs="String">
                <value>fpm2017</value>
            </setting>
            <setting name="btpassword" serializeAs="String">
                <value>bt2017</value>
            </setting>
            <setting name="ihcpassword" serializeAs="String">
                <value>ihc2017</value>
            </setting>
        </QueueManager.My.MySettings>
    </userSettings>
</configuration>